.img{
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('../assets/bg.jpg'), no-repeat;
    background-size: cover;
    background-position: left;
    height: 50vh;
    margin-left: 2%;
    width: 50vh;
    transition: color .2s ease;
    border: 1px solid #363636;
    border-radius: 50%;
}

.img:hover{
    border: 2px solid grey;
    box-shadow: #363636;
}